:root {
  --branding-color: #ff1dfc;
  --default-font-family: "Poiret One", cursive;
}

html {
  height: 100%;
  margin: 0;
}

body {
  background-color: black;
  border: 3px solid #ff1dfc;
  font-family: var(--default-font-family);
  margin: 0;
  min-height: 100%;
}

h1 {
  color: var(--branding-color);
  font-size: 60px;
  font-weight: 1000;
  margin-left: 108px;
}

.content h1 {
  margin-left: auto;
  margin-top: 90px;
  text-align: center;
}

.about-me-page h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h2 {
  color: white;
  margin-top: 90px;
  margin-left: 250px;
}

.content h2 {
  margin-left: auto;
  margin-top: 50px;
  text-align: center;
}

.about-me-page h2 {
  font-size: 45px;
  font-weight: 900;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h3 {
  color: grey;
  margin-left: 100px;
}

.content h3 {
  margin-left: auto;
  text-align: center;
}

.about-me-page h3 {
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contact-me-page h3 {
  color: white;
  font-size: 30px;
  margin-left: 0;
  padding: 5px -10px;
  text-align: center;
  text-decoration: underline dotted var(--branding-color);
}

i {
  color: var(--branding-color);
  font-size: 30px;
}

nav {
  background: #fffbff;
  border: 2px dotted var(--branding-color);
}

nav ul {
  margin-bottom: 1px;
  margin-top: 8px;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin: 10px;
}

nav a {
  color: black;
  font-weight: 900;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

footer {
  background: black;
}

a {
  text-decoration: none;
}

.fa {
  border: 2px solid var(--branding-color);
  border-radius: 50%;
  color: var(--branding-color);
  font-size: 30px;
  margin: 90px 20px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 55px;
}

.hero {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    146deg,
    rgba(0, 0, 0, 1) 40%,
    rgba(121, 121, 121, 1) 93%
  );
}

.about-me-page {
  background-color: black;
  margin: auto;
  min-height: auto;
}

.about-me-content {
  color: white;
  font-size: 30px;
  margin: 60px 50px 40px;
  text-align: center;
}

.contact-me-page {
  text-align: center;
}

.contact-me-content {
  color: white;
  font-size: 30px;
  margin: 30px 20px;
}

.skill-header {
  text-decoration: underline;
}

.credit {
  color: #fffbff;
  margin-bottom: 2px;
  margin-top: 80px;
  text-align: center;
}

.logo {
  margin-left: 8px;
  max-width: 150px;
  max-height: 40px;
}

.picture-of-app {
  height: 220px;
  width: 200px;
}

.picture-of-vanessa {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
}

.picture-of-anime-vanessa {
  bottom: -120px;
  position: fixed;
  right: -400px;
}

.listed-projects {
  margin-top: 150px;
}

.skill-list {
  color: white;
  list-style-type: none;
  margin-bottom: 90px;
  margin-top: 90px;
  text-align: center;
}

.email-link {
  color: #cc00c9;
  display: block;
  text-align: center;
  text-decoration: none;
}

.social-links {
  max-width: 540px;
  text-align: center;
}

.app-link {
  color: var(--branding-color);
  font-size: 25px;
  text-align: center;
}

.app-link-logo {
  color: var(--branding-color);
  font-size: 20px;
  text-decoration: none;
}
.about-me-page-btn {
  margin-bottom: 90px;
  text-align: center;
}

.about-btn-style {
  border: 1px solid var(--branding-color);
  color: white;
  font-size: 17px;
  font-weight: 900;
  padding: 10px 15px;
}
.social-btn {
  color: var(--branding-color);
  font-size: 40px;
  margin-top: 60px;
  text-decoration: none;
}
.btn-branding {
  background: black;
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  padding: 15px 30px;
  -webkit-text-stroke: 1.5px var(--branding-color);
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.fa:hover {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 11%,
    rgba(255, 29, 252, 1) 100%
  );
  color: black;
  opacity: 0.7;
}

.btn-branding:hover {
  background: #ffb6fe;
  border: 2px solid var(--branding-color);
  color: black;
}

.social-btn:hover {
  color: #ffb6fe;
  font-size: 50px;
}

.app-link-logo,
.email-link:hover {
  color: #ffb6fe;
}

@media (max-width: 990px) {
  h1,
  h2,
  h3 {
    margin: auto;
    text-align: center;
  }
  h2 {
    margin: 90px auto auto;
  }
  h3 {
    font-size: 20px;
    margin-top: 10px;
  }
  .social-links {
    max-width: none;
  }
  .project-button {
    margin-left: auto;
    margin-top: 90px;
    text-align: center;
  }

  .skill-header {
    font-size: 20px;
  }
  .about-section h1 {
    font-size: 55px;
    margin-top: 35px;
  }
  .skill-list {
    margin-left: -40px;
    text-align: center;
  }
  .about-me {
    font-size: 25px;
  }
}
