html {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Poiret One", cursive;
  background: rgb(0, 11, 36);
  background: linear-gradient(
    132deg,
    rgba(0, 0, 0, 1) 51%,
    rgba(77, 77, 77, 1) 51%
  );
  min-height: 100%;
  margin: 0;
  border: 3px solid #ff1dfc;
}

h2 {
  color: white;
  margin-top: 90px;
  margin-left: 90px;
}

h1 {
  font-weight: 1000;
  font-size: 60px;
  color: #ff1dfc;
  margin-left: 50px;
}

.anime-vanessa {
  position: fixed;
  bottom: -80px;
  right: -250px;
}
