:root {
  --branding-color: #ff1dfc;
  --secondary-branding-color: #ffb6fe;
  --default-font-family: "Poiret One", cursive;
}

html {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    146deg,
    rgba(0, 0, 0, 1) 40%,
    rgba(121, 121, 121, 1) 93%
  );
  height: 100%;
  margin: 0;
}

body {
  background-color: black;
  border: 3px solid #ff1dfc;
  font-family: var(--default-font-family);
  margin: 0;
  min-height: 100%;
}

h1 {
  color: var(--branding-color);
  font-size: 60px;
  font-weight: 1000;
  margin-left: 108px;
}

.content h1 {
  margin-left: auto;
  margin-top: 90px;
  text-align: center;
}

.about-me-page h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h2 {
  color: white;
  margin-top: 90px;
  margin-left: 250px;
}

.content h2 {
  margin-left: auto;
  margin-top: 50px;
  text-align: center;
}

.about-me-page h2 {
  font-size: 45px;
  font-weight: 900;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h3 {
  color: grey;
  margin-left: 100px;
}

.content h3 {
  margin-left: auto;
  text-align: center;
}

.about-me-page h3 {
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contact-me-page h3 {
  color: white;
  font-size: 30px;
  margin-left: 0;
  padding: 5px -10px;
  text-align: center;
  text-decoration: underline dotted var(--branding-color);
}

i {
  color: var(--branding-color);
  font-size: 30px;
}

nav {
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 15px;
}

nav ul {
  margin-bottom: 1px;
  margin-top: 8px;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin: 10px;
}

nav a {
  color: white;
  font-weight: 900;
  transition: all 150ms ease-in-out;
}

a {
  text-decoration: none;
}

footer {
  background: black;
  bottom: 0;
  margin-top: 100px;
  padding-top: 15px;
  width: 100%;
}

.fa {
  border: 2px solid var(--branding-color);
  border-radius: 50%;
  color: var(--branding-color);
  font-size: 30px;
  margin: 90px 20px;
  padding: 10px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  width: 55px;
}

.hero {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    146deg,
    rgba(0, 0, 0, 1) 40%,
    rgba(121, 121, 121, 1) 93%
  );
}

.about-me-page {
  background-color: black;
  margin: auto;
  min-height: auto;
}

.about-me-content,
.more-projects {
  color: white;
  font-size: 30px;
  margin: 60px 50px 40px;
  text-align: center;
}

.contact-me-page {
  text-align: center;
}

.contact-me-content {
  color: white;
  font-size: 30px;
  margin: 30px 20px;
}

.footer-content {
  text-align: center;
}

.footer-content-section {
  color: white;
  margin-bottom: 0;
}

.skill-header {
  text-decoration: underline;
}

.panda-logo {
  margin-left: 8px;
  max-width: 150px;
  max-height: 40px;
}

.picture-of-app {
  height: 220px;
  width: 200px;
}

.picture-of-vanessa {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
}

.picture-of-anime-vanessa {
  bottom: -10px;
  max-height: 500px;
  max-width: 400px;
  position: fixed;
  right: 30px;
}

.listed-projects {
  margin-top: 150px;
}

.skill-list {
  color: white;
  list-style-type: none;
  margin-bottom: 90px;
  margin-top: 90px;
  text-align: center;
}

.social-links {
  max-width: 540px;
  text-align: center;
}

.app-link {
  color: var(--branding-color);
  font-size: 25px;
  text-align: center;
}

.app-link-logo {
  color: var(--branding-color);
  font-size: 20px;
}

.email-link {
  color: #b600b3;
}

.footer-logo-link {
  font-size: 40px;
  margin: 10px 10px 20px;
}

.about-me-page-btn {
  margin-bottom: 90px;
  text-align: center;
}

.about-btn-style {
  border: 1px solid var(--branding-color);
  color: white;
  font-size: 17px;
  font-weight: 900;
  padding: 10px 15px;
}
.social-btn {
  color: var(--branding-color);
  font-size: 40px;
  margin-top: 60px;
}
.btn-branding {
  background: black;
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  padding: 15px 30px;
  -webkit-text-stroke: 1.5px var(--branding-color);
}

nav a:hover {
  color: var(--branding-color);
  font-weight: bolder;
}
nav li.active a {
  border-bottom: 2px solid var(--branding-color);
  color: var(--branding-color);
  font-weight: bolder;
  padding-bottom: 10px;
}

.fa:hover {
  background: var(--secondary-branding-color);
  color: black;
  transform: scale(1.1);
}

.about-me-page-btn:hover {
  animation: pulse 1s infinite;
}

.about-btn-style:hover {
  color: var(--secondary-branding-color);
  font-weight: bolder;
}

.btn-branding:hover {
  animation: pulse 1s infinite;
  background: var(--secondary-branding-color);
  color: black;
}

.social-btn:hover {
  color: var(--secondary-branding-color);
  transform: scale(1.1);
}

.app-link-logo:hover {
  color: var(--secondary-branding-color);
}

.footer-logo-link:hover {
  animation: pulse 1s infinite;
  color: var(--secondary-branding-color);
}

.email-link:hover {
  color: var(--secondary-branding-color);
}

.panda-logo:hover {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

@media (max-width: 990px) {
  h1,
  h2,
  h3 {
    margin: auto;
    text-align: center;
  }
  h2 {
    margin: 90px auto auto;
  }
  h3 {
    font-size: 20px;
    margin-top: 10px;
  }

  .social-links {
    max-width: none;
  }
  .project-button {
    margin-left: auto;
    margin-top: 90px;
    text-align: center;
  }

  .skill-header {
    font-size: 20px;
  }
  .about-section h1 {
    font-size: 55px;
    margin-top: 35px;
  }
  .skill-list {
    margin-left: -40px;
    text-align: center;
  }
  .about-me {
    font-size: 25px;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}
